/Section9_7_9/Exercies9_7/AccountClass/nbproject/private/
/Section9/Exercies9_7/AccountClass/nbproject/private/
/Section9/build/
/Section9/nbproject/private/
/Section9/Exercies9_7/AccountClass/build/
/Section9/Exercise 9_8/JavaApplication9/nbproject/private/
/Section9/Exercise 9_8/TheFanClass/nbproject/private/
/Section9/Exercise 9_8/TheFanClass/build/
/Section9/Exercies 9_9/Geometry_n_sidePolygon/nbproject/private/
/Section9/Exercies 9_9/Geometry_n_sidePolygon/build/
/Section9/Exercise 9_10/Algebra_QuadraticEquations/nbproject/private/
/Section9/Exercise 9_10/Algebra_QuadraticEquations/build/
/Section9/Exercise 9_11/Algebra_TwoAndTwoEquations/nbproject/private/
/Section9/Exercise 9_11/Algebra_TwoAndTwoEquations/build/
/Location/nbproject/private/
/Location/build/
