/Section9_7_9/Exercies9_7/AccountClass/nbproject/private/
/Section9/Exercies9_7/AccountClass/nbproject/private/
/Section9/build/
/Section9/nbproject/private/
/Section9/Exercies9_7/AccountClass/build/
/Section9/Exercise 9_8/JavaApplication9/nbproject/private/
/Section9/Exercise 9_8/TheFanClass/nbproject/private/
/Section9/Exercise 9_8/TheFanClass/build/
/Section9/Exercies 9_9/Geometry_n_sidePolygon/nbproject/private/
/Section9/Exercies 9_9/Geometry_n_sidePolygon/build/
/Section9/Exercise 9_10/Algebra_QuadraticEquations/nbproject/private/
/Section9/Exercise 9_10/Algebra_QuadraticEquations/build/
/Section9/Exercise 9_11/Algebra_TwoAndTwoEquations/nbproject/private/
/Section9/Exercise 9_11/Algebra_TwoAndTwoEquations/build/
/Location/nbproject/private/
/Location/build/
/Section9/Location/build/
/Section9/Location/nbproject/private/
/TestLoanClass/nbproject/private/
/TestLoanClass/build/
/BMIUseClass/nbproject/private/
/BMIUseClass/build/
/CourseCaseStudy/nbproject/private/
/CourseCaseStudy/build/
/StackCaseStudy/nbproject/private/
/StackCaseStudy/build/
/TestStackOfInteger/nbproject/private/
/TestStackOfInteger/build/
/StringBuilderAndBuffer/nbproject/private/
/StringBuilderAndBuffer/build/
/TimeTesing/nbproject/private/
/TimeTesing/build/
/DisplayCurrentTime/nbproject/private/
/DisplayCurrentTime/build/
/IntegerTesting/nbproject/private/
/IntegerTesting/build/
/MyPointTesting/nbproject/private/
/MyPointTesting/build/
/PrimeFactorTest/nbproject/private/
/PrimeFactorTest/build/
